.like_container {
    width: 70px;
    height: 20px;
    display: flex;
    justify-content: space-between;
}

.like_container p {
    margin: 0;
}

.btn_primary {
    width: 52px;
    height: 20px;
    background-color: #bbeaea;
    border-color: #bbeaea;
}