.header_conainer {
    width: 100%;
    height: 75px;
    background-color: #bbeaea;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header_name {
    margin-left: 100px;
}

.clock {
    margin-right: 100px;
}

.like_container {
    width: 70px;
    height: 20px;
    display: flex;
    justify-content: space-between;
}

.like_container p {
    margin: 0;
}

.btn_primary {
    width: 52px;
    height: 20px;
    background-color: #bbeaea;
    border-color: #bbeaea;
}